<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white fixed-top">
  <div class="container">
    <div class="col-lg-10 offset-lg-1 text-right">
      <h5 class="font-prompt-italic" style="font-weight: bold; cursor: pointer" [routerLink]="'/staff/main'">STAFF</h5>
    </div>
    <div class="col-md-12 col-md-12 text-center">
      <img src="assets/picture/header-corona.svg" class="my-5 img img-fluid">
    </div>
  </div>
</div>


<router-outlet></router-outlet>
<app-scroll-to-top></app-scroll-to-top>


<footer class="main-footer" style="margin: unset; padding: unset">
  <div class="bg-white my-5 text-center" >
    <img src="assets/picture/footer_01.svg" class="footer01">
  </div>

  <div class="text-right pt-4 pb-4" style="background-color: #000000">
    <img src="assets/picture/footer_copyright.svg" class="footer02">
  </div>
</footer>

