<div class="container-fluid" style="background-color: #E1E1E1; vertical-align: middle" id="rowHomeisolation">
  <div class="min-vh-60" >
    <div class="col-lg-12 col-md-12 col-sm-12" >
      <div class="row-cols-12 text-center my-5">
        <a target="_blank"  href="assets/picture/how2covid19.jpg">
          <img src="assets/picture/how2covid19.jpg" class="img img-fluid">
        </a>

      </div>
      <div class="row-col-12 mt-10 my-5 d-block text-center font-prompt-medium">
        <a class="btn btn-lg btn-dark" routerLink="/apps/home">กลับหน้าหลัก</a>
      </div>
    </div>
  </div>

</div>
