<div class="container-fluid" style="background-color: #E1E1E1; vertical-align: middle" id="rowHomeisolation">
  <div class="min-vh-60" >
    <div class="col-lg-12 col-md-12 col-sm-12" >
      <div class="row-cols-12 text-center my-5">
        <img src="/assets/picture/HomeIsolation.png" class="img img-fluid">
      </div>
      <div class="row-cols-12 text-center my-5">
        <a href="https://lin.ee/6Pk4Bgq" class="font-prompt-medium fSize24">https://lin.ee/6Pk4Bgq</a>
      </div>
      <div class="row-col-12 my-5 d-block text-center font-prompt-medium">
        <button class="btn btn-lg btn-dark" routerLink="/apps/home">กลับหน้าหลัก</button>
      </div>
    </div>
  </div>

</div>
