<div class="d-flex flex-column flex-md-row  p-3 px-md-4 mb-3 fixed-top bg-light-secondary text-white
  font-prompt-medium fSize22">
  <div class="container d-flex flex-column flex-md-row" style="padding-left: unset; padding-right: unset">
    <div class="col-md-12 text-center" style="padding-left: unset; padding-right: unset">
      <nav class="navbar navbar-expand-md" style="padding: unset">
        <button class="navbar-toggler" type="button"
                data-toggle="collapse" data-target="#navbarToggler"
                aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggler">
<!--          <a class="navbar-brand" href="#">Hidden brand</a>-->
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0 navbar-no-expand ml-auto">
<!--            <li class="nav-item">-->
<!--              <a routerLink="/apps/home" routerLinkActive="active" class="p-3 text-gray">หน้าหลัก</a>-->
<!--            </li>-->
            <li class="nav-item">
              <a routerLink="/admin/viewNovelcorona2" routerLinkActive="active" class="p-3 text-gray">Novelcorona 2</a>
            </li>
            <li class="nav-item">
              <a href="" routerLink="/admin/printReport" class="p-3 text-gray">Report</a>
            </li>
<!--            <li class="nav-item">-->
<!--              <a href="" routerLink="/apps/news" class="p-3 text-gray">ข่าวสาร</a>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--              <a href="https://hyggemedicalservice.com/wp/" target="_blank" class="p-3 text-gray">เกี่ยวกับเรา</a>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--              <a href="https://www.hyggemedicalservice.com/virtualhos-backend/login.php"  target="_blank" class="p-3 text-danger">เจ้าหน้าที่</a>-->
<!--            </li>-->
          </ul>
        </div>
      </nav>

    </div>
  </div>
</div>


<router-outlet></router-outlet>

<!--
<footer class="main-footer"></footer>-->

