<div class="fixed-top font-prompt-medium fSize20" style="margin-top: 249px;" >
  <div class="col-md-12" style="padding-left: unset; padding-right: unset">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse"
              data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="p-3 text-gray" style="cursor: pointer" (click)="openView()">รายชื่อผู้ป่วยที่ทำแบบสอบสวน</a>
          <a class="p-3 text-gray" style="cursor: pointer" (click)="openReport()">Report</a>
        </div>
      </div>
    </nav>
  </div>
</div>


<router-outlet></router-outlet>
<app-scroll-to-top></app-scroll-to-top>

<!--
<footer class="main-footer"></footer>-->

