<div class="container font-prompt-medium mt-15 min-vh-90">
  <div class="mb-10 col-lg-12 text-center">
    <div class="col-lg-6 offset-lg-3">
      <form [formGroup]="frmSerch">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">CID</span>
          </div>
          <input name="cid" id="cid" formControlName="cid"
                 maxlength="13" inputmode="numeric" pattern="[0-9]*" digitOnly
                 [ngClass]="{ 'is-invalid': submitted && f1.cid.errors  || ((f1.cid.touched || f1.cid.dirty) && f1.cid.invalid) }"
                 class="form-control" type="text" placeholder="ใส่เลขประจำตัวประชาชน">
          <div class="input-group-append">
            <button class="btn btn-dark" (click)="getCitizenData()">ค้นหา</button>
          </div>
          <div *ngIf="submitted && f1.cid.errors  || ((f1.cid.touched || f1.cid.dirty) && f1.cid.invalid)"
               class="invalid-feedback">
            <div class="text-left fSize12" *ngIf="f1.cid.errors.required">กรุณาใส่เลขประจำตัวประชาชน</div>
            <div class="text-left fSize12" *ngIf="f1.cid.errors.minlength">กรุณาใส่เลขประจำตัวประชาชน 13 หลัก</div>
          </div>
        </div>
      </form>
    </div>
  </div>

 <div id="divContent mt-5" *ngIf="isVisible">
   <div class="row ml-2">
     <h4 class="font-prompt-medium text-danger">*** กรุณากรอกข้อมูลตามความเป็นจริง เพื่อประโยชน์ของตัวท่านเอง</h4>
   </div>
   <form [formGroup]="frmpatient">
     <div class="card ">
       <div class="card-body">
         <div class="row">
           <div class="col-lg-12">
             <div class="form-group">
               <label>เลขประจำตัวประชาชน</label>
               <input type="text" class="form-control" placeholder="เลขประจำตัวประชาชน" name="cid2" id="cid2"
                      formControlName="cid2" readonly>
             </div>
           </div>
         </div>
         <div class="row">
           <div class="col-md-3">
             <div class="form-group">
               <label>คำนำหน้าชื่อ</label>
               <input type="text" class="form-control" placeholder="คำนำหน้าชื่อ" name="pname" id="pname"
                      formControlName="pname" readonly>
             </div>
           </div>
           <div class="col-md-4">
             <div class="form-group">
               <label>ชื่อ</label>
               <input type="text" class="form-control" placeholder="ชื่อ" name="fname" id="fname" formControlName="fname">
             </div>
           </div>
           <div class="col-md-5">
             <div class="form-group">
               <label>นามสกุล</label>
               <input type="text" class="form-control" placeholder="นามสกุล" name="lname" id="lname" formControlName="lname" readonly>
             </div>
           </div>
         </div>
       </div>
     </div>

     <div class="card">
       <div class="card-body">
         <div class="row">
           <div class="col-md-4">
             <div class="form-group">
               <label>น้ำหนัก (กิโลกรัม) <span class="text-danger">*</span></label>
               <input type="text" class="form-control" placeholder="น้ำหนัก" name="weight" id="weight"
                      formControlName="weight"
                      [ngClass]="{ 'is-invalid': submitted && f.weight.errors || ((f.weight.touched || f.weight.dirty) && f.weight.invalid)}">
               <div *ngIf="submitted && f.weight.errors  || ((f.weight.touched || f.weight.dirty) && f.weight.invalid)"
                    class="invalid-feedback">
                 <div class="text-left fSize12" *ngIf="f.weight.errors.required">กรุณาใส่น้ำหนัก (กิโลกรัม)</div>
               </div>
             </div>
           </div>
           <div class="col-md-4">
             <div class="form-group">
               <label>ส่วนสูง (เซนติเมตร) <span class="text-danger">*</span></label>
               <input type="text" class="form-control" placeholder="ส่วนสูง" name="height" id="height"
                      formControlName="height"
                      [ngClass]="{ 'is-invalid': submitted && f.height.errors || ((f.height.touched || f.height.dirty) && f.height.invalid) }">
               <div *ngIf="submitted && f.height.errors  || ((f.height.touched || f.height.dirty) && f.height.invalid)"
                    class="invalid-feedback">
                 <div class="text-left fSize12" *ngIf="f.height.errors.required">กรุณาใส่ส่วนสูง (เซนติเมตร)</div>
               </div>
             </div>
           </div>
           <div class="col-md-4" *ngIf="f.weight.value != null && f.height.value  != null">
             <div class="form-group">
               <label>BMI</label>
               <input type="text" class="form-control" placeholder="ส่วนสูง" name="bmi" id="bmi"
                      formControlName="bmi" readonly
                      [value]="(f.weight.value  / ((f.height.value / 100) * (f.height.value / 100))).toFixed(2)">
             </div>
           </div>
         </div>
       </div>
     </div>

     <div class="card">
       <div class="card-body fsize16">
         <div class="row my-1">
           <label class="col-lg-10 col-sm-12">1. อายุ 70 ปีขึ้นไป <span class="text-danger">*</span></label>
           <div class="col-lg-2 col-sm-12 radio-inline ml-md-auto">
             <div class="form-check col-sm-6">
               <input class="form-check-input" type="radio" name="radiochoice1" id="radiochoice11"
                      [ngClass]="{ 'is-invalid': submitted && f.radiochoice1.errors || ((f.radiochoice1.touched || f.radiochoice1.dirty) && f.radiochoice1.invalid) }"
                      [value]="1" formControlName="radiochoice1">
               <label class="form-check-label" for="radiochoice11">&nbsp;ใช่</label>
             </div>
             <div class="form-check col-sm-6">
               <input class="form-check-input" type="radio" name="radiochoice1" id="radiochoice12"
                      [ngClass]="{ 'is-invalid': submitted && f.radiochoice1.errors || ((f.radiochoice1.touched || f.radiochoice1.dirty) && f.radiochoice1.invalid) }"
                      [value]="0" formControlName="radiochoice1">
               <label class="form-check-label" for="radiochoice12">&nbsp;ไม่ใช่</label>
             </div>
           </div>
         </div>

         <div class="row  my-1">
           <label class="col-lg-10 col-sm-12">2. อายุ 60 - 69 ปี และฉีดวัคซีนโควิด 19 อย่างน้อยสองเข็ม <span class="text-danger">*</span></label>
           <div class="col-lg-2 col-sm-12 radio-inline ml-md-auto">
             <div class="form-check col-sm-6">
               <input class="form-check-input" type="radio" name="radiochoice2" id="radiochoice21"
                      [ngClass]="{ 'is-invalid': submitted && f.radiochoice2.errors || ((f.radiochoice2.touched || f.radiochoice2.dirty) && f.radiochoice2.invalid) }"
                      [value]="1" formControlName="radiochoice2">
               <label class="form-check-label" for="radiochoice21">&nbsp;ใช่</label>
             </div>
             <div class="form-check col-sm-6">
               <input class="form-check-input" type="radio" name="radiochoice2" id="radiochoice22"
                      [ngClass]="{ 'is-invalid': submitted && f.radiochoice2.errors || ((f.radiochoice2.touched || f.radiochoice2.dirty) && f.radiochoice2.invalid) }"
                      [value]="0" formControlName="radiochoice2">
               <label class="form-check-label" for="radiochoice22">&nbsp;ไม่ใช่</label>
             </div>
           </div>
         </div>

         <div class="row my-1" >
           <label class="col-lg-10 col-sm-12">3. เป็นโรคถุงลมโป่งพอง, โรคปอด หรือหลอดลมอุดกั้นเรื้อรัง ที่ไม่สามารถทำงานได้ตามปกติ <span class="text-danger">*</span></label>
           <div class="col-lg-2 col-sm-12 radio-inline ml-md-auto">
             <div class="form-check col-sm-6">
               <input class="form-check-input" type="radio" name="radiochoice3" id="radiochoice31"
                      [ngClass]="{ 'is-invalid': submitted && f.radiochoice3.errors || ((f.radiochoice3.touched || f.radiochoice3.dirty) && f.radiochoice3.invalid) }"
                      [value]="1" formControlName="radiochoice3">
               <label class="form-check-label" for="radiochoice31">&nbsp;ใช่</label>
             </div>
             <div class="form-check col-sm-6">
               <input class="form-check-input" type="radio" name="radiochoice3" id="radiochoice32"
                      [ngClass]="{ 'is-invalid': submitted && f.radiochoice3.errors || ((f.radiochoice3.touched || f.radiochoice3.dirty) && f.radiochoice3.invalid) }"
                      [value]="0" formControlName="radiochoice3">
               <label class="form-check-label" for="radiochoice32">&nbsp;ไม่ใช่</label>
             </div>
           </div>
         </div>

         <div class="row my-1">
           <label class="col-lg-10 col-sm-12">4. เป็นโรคไตวายระยะที่ 3 ขึ้นไป <span class="text-danger">*</span></label>
           <div class="col-lg-2 col-sm-12 radio-inline ml-md-auto">
             <div class="form-check col-sm-6">
               <input class="form-check-input" type="radio" name="radiochoice4" id="radiochoice41"
                      [ngClass]="{ 'is-invalid': submitted && f.radiochoice4.errors || ((f.radiochoice4.touched || f.radiochoice4.dirty) && f.radiochoice4.invalid) }"
                      [value]="1" formControlName="radiochoice4">
               <label class="form-check-label" for="radiochoice41">&nbsp;ใช่</label>
             </div>
             <div class="form-check col-sm-6">
               <input class="form-check-input" type="radio" name="radiochoice4" id="radiochoice42"
                      [ngClass]="{ 'is-invalid': submitted && f.radiochoice4.errors || ((f.radiochoice4.touched || f.radiochoice4.dirty) && f.radiochoice4.invalid) }"
                      [value]="0" formControlName="radiochoice4">
               <label class="form-check-label" for="radiochoice42">&nbsp;ไม่ใช่</label>
             </div>
           </div>
         </div>

         <div class="row my-1">
           <label class="col-lg-10 col-sm-12">5. เป็นโรคหัวใจที่มีอาการเหนื่อยเวลาออกแรง <span class="text-danger">*</span></label>
           <div class="col-lg-2 col-sm-12 radio-inline ml-md-auto">
             <div class="form-check col-sm-6">
               <input class="form-check-input" type="radio" name="radiochoice5" id="radiochoice51"
                      [ngClass]="{ 'is-invalid': submitted && f.radiochoice5.errors || ((f.radiochoice5.touched || f.radiochoice5.dirty) && f.radiochoice5.invalid) }"
                      [value]="1" formControlName="radiochoice5">
               <label class="form-check-label" for="radiochoice51">&nbsp;ใช่</label>
             </div>
             <div class="form-check col-sm-6">
               <input class="form-check-input" type="radio" name="radiochoice5" id="radiochoice52"
                      [ngClass]="{ 'is-invalid': submitted && f.radiochoice5.errors || ((f.radiochoice5.touched || f.radiochoice5.dirty) && f.radiochoice5.invalid) }"
                      [value]="0" formControlName="radiochoice5">
               <label class="form-check-label" for="radiochoice52">&nbsp;ไม่ใช่</label>
             </div>
           </div>
         </div>

         <div class="row my-1">
           <label class="col-lg-10 col-sm-12">6. เป็นโรคเบาหวาน ที่ระดับน้ำตาลในเลือดล่าสุด มากกว่า 20 mg/dd หรือน้ำตาลสะสม มากกว่า 9 <span class="text-danger">*</span></label>
           <div class="col-lg-2 col-sm-12 radio-inline ml-md-auto">
             <div class="form-check col-sm-6">
               <input class="form-check-input" type="radio" name="radiochoice6" id="radiochoice61"
                      [ngClass]="{ 'is-invalid': submitted && f.radiochoice6.errors || ((f.radiochoice6.touched || f.radiochoice6.dirty) && f.radiochoice6.invalid) }"
                      [value]="1" formControlName="radiochoice6">
               <label class="form-check-label" for="radiochoice61">&nbsp;ใช่</label>
             </div>
             <div class="form-check col-sm-6">
               <input class="form-check-input" type="radio" name="radiochoice6" id="radiochoice62"
                      [ngClass]="{ 'is-invalid': submitted && f.radiochoice6.errors || ((f.radiochoice6.touched || f.radiochoice6.dirty) && f.radiochoice6.invalid) }"
                      [value]="0" formControlName="radiochoice6">
               <label class="form-check-label" for="radiochoice62">&nbsp;ไม่ใช่</label>
             </div>
           </div>
         </div>

         <div class="row my-1">
           <label class="col-lg-10 col-sm-12">7. เป็นโรคอ้วน หรือ BMI มากว่าหรือเท่ากับ 35 <span class="text-danger">*</span></label>
           <div class="col-lg-2 col-sm-12 radio-inline ml-md-auto">
             <div class="form-check col-sm-6">
               <input class="form-check-input" type="radio" name="radiochoice7" id="radiochoice71"
                      [ngClass]="{ 'is-invalid': submitted && f.radiochoice7.errors || ((f.radiochoice7.touched || f.radiochoice7.dirty) && f.radiochoice7.invalid) }"
                      [value]="1" formControlName="radiochoice7">
               <label class="form-check-label" for="radiochoice71">&nbsp;ใช่</label>
             </div>
             <div class="form-check col-sm-6">
               <input class="form-check-input" type="radio" name="radiochoice7" id="radiochoice72"
                      [ngClass]="{ 'is-invalid': submitted && f.radiochoice7.errors || ((f.radiochoice7.touched || f.radiochoice7.dirty) && f.radiochoice7.invalid) }"
                      [value]="0" formControlName="radiochoice7">
               <label class="form-check-label" for="radiochoice72">&nbsp;ไม่ใช่</label>
             </div>
           </div>
         </div>

         <div class="row my-1">
           <label class="col-lg-10 col-sm-12">8. เป็นโรคตับแข็ง <span class="text-danger">*</span></label>
           <div class="col-lg-2 col-sm-12 radio-inline ml-md-auto">
             <div class="form-check col-sm-6">
               <input class="form-check-input" type="radio" name="radiochoice8" id="radiochoice81"
                      [ngClass]="{ 'is-invalid': submitted && f.radiochoice8.errors || ((f.radiochoice8.touched || f.radiochoice8.dirty) && f.radiochoice8.invalid) }"
                      [value]="1" formControlName="radiochoice8">
               <label class="form-check-label" for="radiochoice81">&nbsp;ใช่</label>
             </div>
             <div class="form-check col-sm-6">
               <input class="form-check-input" type="radio" name="radiochoice8" id="radiochoice82"
                      [ngClass]="{ 'is-invalid': submitted && f.radiochoice8.errors || ((f.radiochoice8.touched || f.radiochoice8.dirty) && f.radiochoice8.invalid) }"
                      [value]="0" formControlName="radiochoice8">
               <label class="form-check-label" for="radiochoice82">&nbsp;ไม่ใช่</label>
             </div>
           </div>
         </div>

         <div class="row my-1">
           <label class="col-lg-10 col-sm-12">9. ขณะนี้ได้รับยาเคมีบำบัดหรือยากดภูมิคุ้มกันอยู่ <span class="text-danger">*</span></label>
           <div class=" col-lg-2 col-sm-12 radio-inline ml-md-auto">
             <div class="form-check col-sm-6">
               <input class="form-check-input" type="radio" name="radiochoice9" id="radiochoice91"
                      [ngClass]="{ 'is-invalid': submitted && f.radiochoice9.errors || ((f.radiochoice9.touched || f.radiochoice9.dirty) && f.radiochoice9.invalid) }"
                      [value]="1" formControlName="radiochoice9">
               <label class="form-check-label" for="radiochoice91">&nbsp;ใช่</label>
             </div>
             <div class="form-check col-sm-6">
               <input class="form-check-input" type="radio" name="radiochoice9" id="radiochoice92"
                      [ngClass]="{ 'is-invalid': submitted && f.radiochoice9.errors || ((f.radiochoice9.touched || f.radiochoice9.dirty) && f.radiochoice9.invalid) }"
                      [value]="0" formControlName="radiochoice9">
               <label class="form-check-label" for="radiochoice92">&nbsp;ไม่ใช่</label>
             </div>
           </div>
         </div>

         <div class="row my-1">
           <label class="col-lg-10 col-sm-12">10. เป็นโรคภูมิคุ้มกันบกพร่อง HIV ที่ระดับ CD<sub>4</sub> น้อยกว่า 200 <span class="text-danger">*</span></label>
           <div class="col-lg-2 col-sm-12 radio-inline ml-md-auto">
             <div class="form-check col-sm-6">
               <input class="form-check-input" type="radio" name="radiochoice10" id="radiochoice101"
                      [ngClass]="{ 'is-invalid': submitted && f.radiochoice10.errors || ((f.radiochoice10.touched || f.radiochoice10.dirty) && f.radiochoice10.invalid) }"
                      [value]="1" formControlName="radiochoice10">
               <label class="form-check-label" for="radiochoice101">&nbsp;ใช่</label>
             </div>
             <div class="form-check col-sm-6">
               <input class="form-check-input" type="radio" name="radiochoice10" id="radiochoice102"
                      [ngClass]="{ 'is-invalid': submitted && f.radiochoice10.errors || ((f.radiochoice10.touched || f.radiochoice10.dirty) && f.radiochoice10.invalid) }"
                      [value]="0" formControlName="radiochoice10">
               <label class="form-check-label" for="radiochoice102">&nbsp;ไม่ใช่</label>
             </div>
           </div>
         </div>

       </div>
     </div>

     <div class="mt-5 col-lg-12 text-center mb-5">
       <button class="btn btn-lg btn-dark" [disabled]="btndisble" (click)="savedata()">บันทึกข้อมูล</button>
     </div>
   </form>
 </div>
</div>

<app-scroll-to-top></app-scroll-to-top>

<footer class="main-footer" style="margin: unset; padding: unset">
  <div class="text-right pt-4 pb-4" style="background-color: #000000">
    <img src="assets/picture/footer_copyright.svg" class="footer02">
  </div>
</footer>






