<div class="container-fluid" style="margin-top: 220px; background-color: #E1E1E1; vertical-align: middle">
  <div class="min-vh-60 p-0 m-0">
    <div class="col-lg-10 offset-lg-1 col-md-12 col-sm-12">
      <div class="row text-center font-prompt-medium" style="padding-top: 30px; padding-bottom: 20px;">
<!--        <div class="col-lg-2 noDisplay"></div>-->
        <div class="col-lg-3 col-md-3 col-sm-12 text-center my-5">
          <img src="assets/picture/icon-vaccine.svg" class="icon-size img-fluid"
               style="cursor: pointer" (click)="openVaccine()">
          <h3 class="mt-5">ฉีดวัคซีน</h3>
          <h5>Vaccine</h5>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-12 text-center my-5">
          <img src="assets/picture/icon-form.svg" class="icon-size img-fluid"
               style="cursor: pointer" (click)="openCoV()">
          <h3 class="mt-5">สอบสวนโรค</h3>
          <h5>Disease Investigation</h5>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-12 text-center my-5">
          <img src="assets/picture/icon-swab.svg" class="icon-size img-fluid"
               style="cursor: pointer" (click)="openSwab()">
          <h3 class="mt-5">ตรวจโควิด</h3>
          <h5>Swab Test</h5>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-12 text-center my-5">
          <img src="assets/picture/icon-home.svg" class="icon-size img-fluid"
               style="cursor: pointer" [routerLink]="'/apps/homeisolation'">
          <h3 class="mt-5">รักษาตัวที่บ้าน</h3>
          <h5>Home Isolation</h5>
        </div>
      </div>


    </div>
  </div>

</div>

<!--<ng-template #content01 let-modal>-->
<!--  <div class="modal-body text-center">-->
<!--    <div class="mb-20 col-lg-12 col-md-12 col-sm-12 text-right">-->
<!--      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">-->
<!--        <img src="assets/picture/icon_close.svg">-->
<!--      </button>-->
<!--    </div>-->
<!--    <img src="assets/picture/icon-form.svg" class="img">-->
<!--    <br><br>-->
<!--    <div class="row m-0 font-prompt-light fSize20">-->
<!--      <div class="col-lg-12 col-md-12 col-sm-12 text-center">-->
<!--        ท่านกำลังจะทำแบบสอบสวนโรค เพื่อประเมินความเสี่ยงต่อการติดเชื้อไวรัสโคโรนา 2019 ของโรงพยาบาลราชบุรี<br>-->
<!--        เพื่อความสะดวกรวดเร็วต่อการให้บริการ ขอให้ท่านกรอกข้อมูลในเอกสารอิเล็กทรอนิกส์นี้<br>-->
<!--        โดยข้อมูลของท่านจะเป็นประโยชน์ต่อการประเมินความเสี่ยงของตัวท่านเอง-->
<!--      </div>-->

<!--    </div>-->
<!--    <div class="row">-->
<!--      <div class="col-lg-12 col-md-12 col-sm-12 text-center font-prompt-medium fSize20">-->
<!--        <div class="custom-control custom-checkbox checkbox-xl text-center">-->
<!--          <input type="checkbox" [(ngModel)]="agree" class="custom-control-input" id="checkbox05">-->
<!--          <label class="pt-4 custom-control-label" for="checkbox05">-->
<!--            &nbsp;&nbsp;ขอรับรองว่าข้อมูลที่ให้เป็นความจริงทุกประการ-->
<!--          </label>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="row my-10">-->
<!--      <div class="col-lg-4 offset-lg-4 col-md-12 col-sm-12 text-center">-->
<!--        <button [disabled]="!agree" (click)="btnStep1(); "-->
<!--                class="btn btn-lg font-prompt-light form-control" style="background-color: #15f3cd; font-size: 24px !important;">ถัดไป-->
<!--        </button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</ng-template>-->

<!--<ng-template #content02 let-modal>-->
<!--  <div class="modal-body text-center">-->
<!--    <div class="mb-20 col-lg-12 col-md-12 col-sm-12 text-right">-->
<!--      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">-->
<!--        <img src="assets/picture/icon_close.svg">-->
<!--      </button>-->
<!--    </div>-->
<!--    <img src="assets/picture/icon-form.svg" class="img">-->
<!--    <br><br>-->
<!--      <div class="row m-0 fSize20">-->
<!--        <div class="col-lg-12 col-md-12 col-sm-12 text-center">-->
<!--          <h1 class="font-prompt-medium">ท่านรับบริการจากจุดบริการใด</h1>-->
<!--          <div class="row mt-5">-->
<!--            <div class="col-lg-8 offset-lg-2 col-md-12 col-sm-12 font-prompt-light fSize20">-->
<!--              <select  class="form-control" [(ngModel)]="servicepoint" (ngModelChange)="changeServicepoint()">-->
<!--                <option disabled></option>-->
<!--                <option *ngFor="let point of dataServicepoint" [value]="point.servicepoint_id">{{point.servicepoint}}</option>-->
<!--              </select>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="row mt-5" *ngIf="servicepoint === '5'">-->
<!--            <div class="col-lg-8 offset-lg-2 col-md-12 col-sm-12 font-prompt-light fSize20">-->
<!--              <select class="form-control" [(ngModel)]="hospcode" (ngModelChange)="changeDHPH()">-->
<!--                <option disabled></option>-->
<!--                <option *ngFor="let dhph of dataDHPH" [value]="dhph.hospcode">{{dhph.hospname}}</option>-->
<!--              </select>-->
<!--            </div>-->
<!--          </div>-->

<!--        </div>-->
<!--      </div>-->


<!--    <div class="row my-10" *ngIf="btndisble">-->
<!--      <div class="col-lg-4 offset-lg-4 col-md-12 col-sm-12 text-center">-->
<!--        <button class="btn btn-lg font-prompt-light form-control" (click)="btnStep2()"-->
<!--                style="background-color: #15f3cd; font-size: 24px !important;">ถัดไป</button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</ng-template>-->


