<div class="container-fluid" style="margin-top: 220px; background-color: #E1E1E1; vertical-align: middle">
  <div class="min-vh-60 p-0 m-0">
    <div class="col-lg-10 offset-lg-1 col-md-12 col-sm-12">
      <div class="row text-center font-prompt-medium" style="padding-top: 30px; padding-bottom: 20px;">
<!--        <div class="col-lg-2 noDisplay"></div>-->
        <div class="col-lg-3 col-md-3 col-sm-12 text-center my-5">
          <img src="assets/picture/icon-vaccine.svg" class="icon-size img-fluid"
               style="cursor: pointer" (click)="openVaccine()">
          <h3 class="mt-5">ฉีดวัคซีน</h3>
          <h5>Vaccine</h5>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-12 text-center my-5">
          <img src="assets/picture/icon-form.svg" class="icon-size img-fluid"
               style="cursor: pointer" (click)="openCoV()">
          <h3 class="mt-5">สอบสวนโรค</h3>
          <h5>Disease Investigation</h5>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-12 text-center my-5">
          <img src="assets/picture/icon-swab.svg" class="icon-size img-fluid"
               style="cursor: pointer" (click)="openSwab()">
          <h3 class="mt-5">ตรวจโควิด</h3>
          <h5>Swab Test</h5>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-12 text-center my-5">
          <img src="assets/picture/icon-home.svg" class="icon-size img-fluid"
               style="cursor: pointer" [routerLink]="'/apps/homeisolation'">
          <h3 class="mt-5">รักษาตัวที่บ้าน</h3>
          <h5>Home Isolation</h5>
        </div>

<!--        <div class="col-lg-2 col-md-4 col-sm-12 text-center my-5">-->
<!--          <img src="assets/picture/icon-field-hospital.svg" class="icon-size img-fluid"-->
<!--               style="cursor: pointer" [routerLink]="'/apps/blankpage'">-->
<!--          <h3 class="mt-5">โรงพยาบาลสนาม</h3>-->
<!--          <h5>Field Hospital</h5>-->
<!--        </div>-->
<!--        <div class="col-lg-2 noDisplay"></div>-->
      </div>


    </div>
  </div>

</div>
