<div class="container font-prompt-medium">
  <div class="card mt-20">
    <div class="card-body">
      <div class="form-group">
      <label>เลือกวันที่ต้องการดูข้อมูล</label>
      <div class="input-group">
        <input class="form-control" #datepickerMDY="bsDatepicker"
               bsDatepicker [bsValue]="currentDate"
               (bsValueChange)="dateChange($event)"
               [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }">
        <div class="input-group-append">
                <span class="input-group-text">
                  <i class="fa fa-calendar" (click)="datepickerMDY.toggle()"
                     [attr.aria-expanded]="datepickerMDY.isOpen"></i></span>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
<div class="container">
    <div class="card text-center">
      <div class="card-body">
        <div class="table-responsive font-prompt-medium fSize16">
          <table class="table table-bordered">
            <thead>
              <tr class="text-center" style="height: 60px" >
                <th width="15%">เลขประจำตัวประชาชน</th>
                <th width="30%">ชื่อ-นามสกุล</th>
                <th width="15%">เบอร์โทรศัพท์</th>
                <th width="15%">วันที่มีอาการ</th>
                <th width="15%">วันที่เข้ารับการรักษา</th>
                <th width="10%"></th>
              </tr>
            </thead>
            <tbody *ngIf="dataNovel?.length != 0">
              <tr *ngFor="let novel of dataNovel">
                <td>{{novel.novel_cid}}</td>
                <td class="text-left">{{novel.novel_pname + novel.novel_fname + '  ' + novel.novel_lname}}</td>
                <td>{{novel.novel_phone}}</td>
                <td>{{novel.novel_start_sick | date}}</td>
                <td>{{novel.novel_start_treat}}</td>
                <td>
                  <button class="btn btn-xs btn-outline-primary btn-xs" (click)="printReport(novel.novel_id)">Novelcorona2</button>
                </td>
              </tr>
            </tbody>
            <tbody *ngIf="dataNovel?.length == 0">
             <tr><td colspan="6" class="no-data-available">ไม่พบข้อมูล</td></tr>
            </tbody>
          </table>
        </div>
      </div>
  </div>
</div>







