<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white fixed-top">
  <div class="container">
    <div class="col-lg-12">
     <div class="row" style="vertical-align: middle">
       <div class="col-lg-7 col-md-7 col-sm-7">
         <div class="row text-center font-prompt-medium" style="padding-top: 20px;">
           <div class="col-2 text-center my-5 p-0 m-0">
             <img src="assets/picture/sicon-vaccine.svg" class="sicon-size img-fluid" [routerLink]="'/staff/blankpage'"
                  style="cursor: pointer" >
             <div class="noDisplay mt-5">
               <h5 class="fsize12">ฉีดวัคซีน</h5>
               <h6 class="fsize12">Vaccine</h6>
             </div>
           </div>

           <div class="col-2 text-center my-5 p-0 m-0">
             <img src="assets/picture/sicon-form.svg" class="sicon-size img-fluid" [routerLink]="'/staff/nCoV'"
                  style="cursor: pointer">
             <div class="noDisplay mt-5">
               <h5 class="fsize12">สอบสวนโรค</h5>
               <h6 class="fsize12">Disease Investigation</h6>
             </div>
           </div>

           <div class="col-2 text-center my-5 p-0 m-0">
             <img src="assets/picture/sicon-swab.svg" class="sicon-size img-fluid"
                  [routerLink]="'/staff'"
                  data-toggle="modal" data-target="#swabModalCenter"
                  style="cursor: pointer">
             <div class="noDisplay mt-5">
               <h5 class="fsize12">ตรวจโควิด</h5>
               <h6 class="fsize12">Swab Test</h6>
             </div>
           </div>

           <div class="col-2 text-center my-5 p-0 m-0">
             <img src="assets/picture/sicon-home.svg" class="sicon-size img-fluid" [routerLink]="'/staff/blankpage'"
                  style="cursor: pointer">
             <div class="noDisplay mt-5">
               <h5 class="fsize12">รักษาตัวที่บ้าน</h5>
               <h6 class="fsize12">Home Isolation</h6>
             </div>
           </div>

           <div class="col-2 text-center my-5 p-0 m-0">
             <img src="assets/picture/sicon-field-hospital.svg" class="sicon-size img-fluid" [routerLink]="'/staff/blankpage'"
                  style="cursor: pointer" >
             <div class="noDisplay mt-5">
               <h5 class="fsize12">โรงพยาบาลสนาม</h5>
               <h6 class="fsize12">Field Hospital</h6>
             </div>
           </div>

           <div class="col-2 text-center my-5 p-0 m-0">
             <img src="assets/picture/sicon-ward.svg" class="sicon-size img-fluid" (click)="openWardCovid()"
                  style="cursor: pointer" >
             <div class="noDisplay mt-5">
               <h5 class="fsize12">หอผู้ป่วยโควิด</h5>
               <h6 class="fsize12">Covid Ward</h6>
             </div>
           </div>

         </div>
       </div>
       <div class="col-lg-5 col-md-5 col-sm-5"  id="imgSHeader">
         <div class="col-lg-12">
           <div class="row" >
             <div class="col-lg-12">
               <img src="assets/picture/header-staff.svg" class="img img-fluid">
             </div>
           </div>
         </div>
       </div>
     </div>
    </div>
  </div>
</div>

<!-- Modal Swab-->
<div class="modal fade" id="swabModalCenter" tabindex="-1" role="dialog" aria-labelledby="swabModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title font-prompt-medium" id="swabModalCenterTitle">Swab Test</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body font-prompt-light">
        <div class="row-cols-12 text-center">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="openSwabTest()">
            <label class="fSize20">ตรวจสอบผลตรวจ Covid-19</label>
          </button>
        </div>
        <div class="row-cols-12 text-center mt-3">
          <button type="button" class="btn btn-info" data-dismiss="modal" (click)="openSwabQue()">
            <label class="fSize20">รายชื่อคน Swab ตู้พระราชทาน</label>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
<app-scroll-to-top></app-scroll-to-top>


<footer class="main-footer" style="margin: unset; padding: unset">
  <div class="bg-white my-5 text-center" >
    <img src="assets/picture/footer_01.svg" class="footer01">
  </div>

  <div class="text-right pt-4 pb-4" style="background-color: #000000">
    <img src="assets/picture/footer_copyright.svg" class="footer02">
  </div>
</footer>

