<div style="padding-top: 280px;">
  <div class="col-lg-12 text-center" >
    <h1 class="font-prompt-medium">รายชื่อผู้ป่วยที่ทำแบบสอบสวน (Novelcoroana 2)</h1>
  </div>
  <div class="container-fluid font-prompt-medium" >
    <div class="card mt-5">
      <div class="card-body">
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <label>เลือกวันที่ต้องการดูข้อมูล</label>
              <div class="input-group">
                <input class="form-control" #datepickerMDY="bsDatepicker"
                       bsDatepicker [bsValue]="currentDate"
                       (bsValueChange)="dateChange($event)"
                       [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }">
                <div class="input-group-append">
                <span class="input-group-text">
                  <i class="fa fa-calendar" (click)="datepickerMDY.toggle()"
                     [attr.aria-expanded]="datepickerMDY.isOpen"></i></span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6" *ngIf="divServicepoint">
            <div class="form-group">
              <label>เลือกจุดบริการที่ต้องการดูข้อมูล</label>
              <select class="form-control" [(ngModel)]="servicepoint" (ngModelChange)="changeServicepoint()">
                <option [value]="'all'">ทุกจุดบริการ</option>
                <option *ngFor="let point of dataServicePoint" [value]="point.servicepoint_id">{{point.servicepoint}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div style="min-height: 50vh">
  <div class="container-fluid">
    <div class="card text-center">
      <div class="card-body">
        <h2 class="font-prompt-medium my-4 text-right ">จำนวนที่ทำแบบสอบสวน {{dataNovel?.length}} </h2>
        <div class="table-responsive font-prompt-medium fSize16">
          <table class="table table-bordered table-striped table-hover">
            <thead>
            <tr class="text-center" style="height: 60px" >
              <th width="10%">เลขประจำตัวประชาชน<br>
                <input type="text" [(ngModel)]="txtSearch"  (ngModelChange)="cidSearch()"
                       placeholder="ค้นหา cid" class="form-control mt-2" style="font-size: small!important;">
              </th>
              <th width="15%">ชื่อ-นามสกุล<br>
                <input type="text" [(ngModel)]="ptname"  (ngModelChange)="nameSearch()"
                       placeholder="ค้นหาชื่อ-นามสกุล" class="form-control mt-2" style="font-size: small!important;">
              </th>
              <th width="5%">สัญชาติ</th>
              <th width="15%">สถานที่ทำงาน/สถานศึกษา<br>
                <input type="text" [(ngModel)]="station"  (ngModelChange)="stationSearch()" placeholder="ค้นหาสถานที่ทำงาน/สถานศึกษา"
                       class="form-control mt-2" style="font-size: small!important;"></th>
              <th width="10%">เบอร์โทรศัพท์</th>
              <th width="15%">จุดรับบริการ<br>
                <input type="text" [(ngModel)]="point"  (ngModelChange)="pointSearch()" placeholder="ค้นหาจุดรับบริการ"
                       class="form-control mt-2" style="font-size: small!important;"></th>
              <th width="5%">เวลาทำแบบสอบสวน</th>
              <th width="10%"></th>
            </tr>
            </thead>
            <tbody *ngIf="dataSearch?.length != 0">
            <tr *ngFor="let novel of dataSearch">
              <td>{{novel.novel_cid}}</td>
              <td class="text-left">{{novel.ptfullname}}</td>
              <td>{{novel.novel_national}}</td>
              <td class="text-left">{{novel.novel_station}}</td>
              <td>{{novel.novel_phone}}</td>
              <td class="text-left">{{novel.servicepoint}}</td>
              <td>{{novel.timeinput}} น.</td>
              <td>
                <button class="btn btn-xs btn-outline-primary btn-xs"
                      tooltipHtml="ลงข้อมูลเพิ่มเติม" placement="bottom"
                        (click)="viewForm(novel.novel_id)">
                  <i class="fa fa-pencil fa-xs p-0 m-0"></i>
                </button>
                <button *ngIf="pass === 'adminCoV!9'" class="btn btn-xs btn-outline-info"
                        tooltipHtml="ลบ" placement="bottom"
                        (click)="delData(novel.novel_id, novel.ptfullname)">
                  <i class="fa fa-trash fa-xs p-0 m-0"></i>
                </button>
              </td>
            </tr>
            </tbody>
            <tbody *ngIf="dataSearch?.length == 0">
            <tr><td colspan="8" class="no-data-available fSize24">ไม่พบข้อมูล</td></tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>









