<div class="wrapper contact100 bg-primary-o-35">
  <div class="container contract1002 font-prompt-medium ">

    <div class="card card-info text-center">
      <div class="col-md-5 offset-md-3 mb-5">
        <form [formGroup]="registerFrm">
          <div class="form-group mt-5 mb-5">
            <label class="form-label">เลขประจำตัวประชาชน</label>
            <div class="input-group mb-3 ">
              <input name="cid" id="cid" formControlName="cid" (keyup.enter)="getonclick()"
                     maxlength="13" inputmode="numeric" pattern="[0-9]*" digitOnly
                     [ngClass]="{ 'is-invalid': submitted && f.cid.errors  || ((f.cid.touched || f.cid.dirty) && f.cid.invalid) }"
                     class="form-control" type="text" placeholder="ใส่เลขประจำตัวประชาชน 13 หลัก">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" (click)="getonclick()">ค้นหา</button>
              </div>
              <div *ngIf="submitted && f.cid.errors  || ((f.cid.touched || f.cid.dirty) && f.cid.invalid)"
                   class="invalid-feedback">
                <div class="text-left fSize12" *ngIf="f.cid.errors.required">กรุณาใส่เลขประจำตัวประชาชน</div>
                <div class="text-left fSize12" *ngIf="f.cid.errors.minlength">กรุณาใส่เลขประจำตัวประชาชน 13 หลัก</div>
              </div>
            </div>
          </div>
        </form>
      </div>

    </div>
  </div>

  <!--</div>-->
  <!--<div class="wrapper contact100 bg-danger-o-55">-->
  <div class="container font-prompt-medium">

    <div class="card">
      <div class="card-header">
        <h2 class="text-center">ทะเบียน COVID</h2>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-2">
            <label>เลขที่ จพต. </label>
            <input type="text" class="form-control" name="Numberbook"/>
          </div>
          <div class="col-md-2">
            <label>เลขบัตรประจำตัวประชาชน </label>
            <input type="text" class="form-control" name="name"/>
          </div>
          <div class="col-md-2">
            <label> HN </label>
            <input type="text" class="form-control" name="name"/>
          </div>
          <div class="col-md-2">
            <label> คำนำหน้าชื่อ </label>
            <input type="text" class="form-control" placeholder="นาย/ นาง/ น.ส." name="name"/>
          </div>
          <div class="col-md-2">
            <label> ชื่อ </label>
            <input type="text" class="form-control" name="name"/>
          </div>
          <div class="col-md-2">
            <label>นามสกุล</label>
            <input type="text" class="form-control" name="name"/>
          </div>
          <div class="col-md-1 mt-4">
            <label>อายุ</label>
            <input type="text" class="form-control" name="name"/>
          </div>
          <div class="col-md-2 mt-4">
            <label>เพศ</label>
            <input type="text" class="form-control" name="name"/>
          </div>
          <div class="col-md-2 mt-4">
            <label>เชื้อชาติ</label>
            <input type="text" class="form-control" name="name"/>
          </div>
          <div class="col-md-2 mt-4">
            <label>สัญชาติ</label>
            <input type="text" class="form-control" name="name"/>
          </div>
          <div class="col-md-2 mt-4">
            <label>อาชีพ</label>
            <input type="text" class="form-control" name="name"/>
          </div>
        </div>
        <div class="row mt-4">

          <div class="col mt-10">
            <h2 class="text-center">ที่อยู่</h2>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-md-2 mt-4">
            <label>เลขที่ </label>
            <input type="text" class="form-control" name="name"/>
          </div>
          <div class="col-md-2 mt-4">
            <label>หมู่ที่ </label>
            <input type="text" class="form-control" name="name"/>
          </div>
          <div class="col-md-2 mt-4">
            <label>ตำบล </label>
            <input type="text" class="form-control" name="name"/>
          </div>
          <div class="col-md-2 mt-4">
            <label>อำเภอ </label>
            <input type="text" class="form-control" name="name"/>
          </div>
          <div class="col-md-2 mt-4">
            <label>จังหวัด </label>
            <input type="text" class="form-control" name="name"/>
          </div>
          <div class="col-md-2 mt-4">
            <label>เบอร์โทรศัพท์ </label>
            <input type="text" class="form-control" name="name"/>
          </div>
          <div class="col-md-2 mt-4">
            <label>วันที่มาโรงพยาบาล </label>
            <input type="text" class="form-control" placeholder="วว/ดด/ปปปป">
            <!--                   data-date-format="dd-mm-yyyy" name="dateSelect" data-provide="datepicker" data-date-language="th-th"/>-->
            <!--            <input type="text" class="form-control monthPicker datepicker" id="dateSelect" placeholder="เลือกวันที่มาตรวจ" autocomplete="off" data-date-autoclose="true"-->
            <!--                   name="dateSelect" data-date-format="dd-mm-yyyy" data-provide="datepicker"-->
            <!--                   data-date-language="th-th">-->
          </div>
          <div class="col-md-2 mt-4">
            <label>วันที่เก็บตัวอย่าง </label>
            <input type="text" class="form-control" name="name"/>
          </div>
          <div class="col-md-2 mt-4">
            <label>สถานที่ส่งตรวจ </label>
            <input type="text" class="form-control" name="name"/>
          </div>
          <div class="col-md-2 mt-4">
            <label>วันที่สัมผัส </label>
            <input type="text" class="form-control" name="name"/>
          </div>
          <div class="col-md-4 mt-4">
            <label>สถานที่เสี่ยง </label>
            <input type="text" class="form-control" name="name"/>
          </div>
          <div class="col-md-2 mt-4">
            <label>การกักตัว HQ / LQ </label>
            <input type="text" class="form-control" name="name"/>
          </div>
          <div class="col-md-2 mt-4">
            <label>วันที่เริ่มกักตัว </label>
            <input type="text" class="form-control" name="name"/>
          </div>
          <div class="col-md-2 mt-4">
            <label>swab ครั้งที่ 2 </label>
            <input type="text" class="form-control" name="name"/>
          </div>
          <div class="col-md-4 mt-4">
            <label>ผู้รายงาน</label>
            <input type="text" class="form-control" name="name"/>
          </div>
          <div class="col-md-2 mt-4">
            <label>หมายเหตุอื่นๆ</label>
            <input type="text" class="form-control" name="name"/>
          </div>
        </div>
        <div class="card-footer mt-10">
          <div class="row-cols-md-6 mt-3">
            <div class="col md-5 offset-md-5">
              <button type="submit" class="btn btn-primary btn-lg  mr-3">บันทึก</button>
              <button type="submit" class="btn btn-secondary btn-lg ">ยกเลิก</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

